<footer>
    <p>
        SUPER ETENDART - Rock de Castelar, Buenos Aires.<br>
        Integrantes: Luis Insaurralde (voz y guitarra), Fernando Gomez "Poli" (batería), Manuel Teodoroff (bajo).<br>
        © 2025 - Sitio web realizado para fans del rock argentino.
    </p>
</footer>